/* ? start header ? */

.menu_header {
    background: linear-gradient(to bottom, #0d0d0de2, #0d0d0d19);
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px hidden var(--Myred);
}

.menu_header_scroll {
    border-bottom: 1px solid var(--Myred);
    background: linear-gradient(to bottom, #0d0d0d, #0d0d0dbd);
}

.menu_header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_header_nav_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_item_a {
    display: flex;
    align-items: center;
}

.nav_item_a_logo {
    height: 45px;
}

.nav_item_a_logo>a {
    height: 100%;
    width: fit-content;
    margin-left: 10px;
}

.nav_item_a_logo>a>img {
    height: 100%;
    width: auto;
}

.nav_item_a_list {
    margin-left: 10px;
    position: relative;
}

.nav_item_a_list_line {
    width: 70px;
    height: 5px;
    background-color: var(--Mywhite);
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.nav_item_a_list>ul {
    display: flex;
    position: relative;
}

.nav_item_a_list>ul>li {
    height: 35px;
    transition: all ease-in-out 0.3s;
}

.nav_item_a_list>ul>li>a, .search_icon>span {
    height: 100%;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.3s;
    padding: 0 5px;
}

.nav_item_a_list>ul>li>a>i, .search_icon>span>i {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 1.2rem;
}

.nav_item_a_list>ul>li>a:hover {
    border-radius: 3px;
    background-color: #ff00002e;
}

.nav_item_a_list>ul>li.active {
    background-color: #ff000062;
    border-radius: 3px;
}

.line {
    height: 2px;
    position: absolute;
    bottom: -5px;
    margin: 10px 0 0 0;
    transition: all ease 0.1s;
    background: var(--Myred);
}

.nav_item_a_search {
    height: 27px;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
}

.nav_item_a_search>form {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    background-color: var(--Mydark);
    border-radius: 3px;
    justify-content: center;
}

#icon-search {
    width: 35px;
    height: 100%;
    display: none;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.search_icon {
    display: none !important;
    flex-direction: column;
    cursor: pointer;
}

.search_icon>span>i {
    font-size: 1.2rem !important;
}

.search_input_box {
    height: 100%;
    display: flex;
}

.input_box_search_text, .input_box_search_btn {
    height: 100%;
    background-color: var(--Mydark);
    border-radius: 3px;
}

.input_box_search_btn {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav_item_b {
    display: flex;
    align-items: center;
}

.btn_ticket, .icon_logon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 2px 5px;
    transition: all ease-in-out 0.3s;
    height: 35px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    justify-content: center;
}

.icon_logon>span {
    margin-right: 7px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.icon_logon>i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.icon_logon .icon-sign-out {
    font-size: 1.5rem;
}

.icon_logon:hover {
    background-color: var(--Mydark);
    border-radius: 3px;
    border-bottom: 1px solid var(--Myred);
}

.menu_header_nav_btn {
    display: none;
    cursor: pointer;
}

.menu_header_nav_btn>i {
    font-size: 1.5rem;
    transition: all ease-in-out 0.3s;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_header_nav_btn .icon-times {
    font-size: 1.4rem;
}

/* ? end header ? */

/* ! ================================ ! */

/* * start login * */

.box__login {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #181717b6;
    z-index: 1029;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    transition: all ease-in 0.3s;
    display: none;
    z-index: 1031;
}

.box__login__center {
    width: 400px;
    border-radius: 3px;
    height: fit-content;
    background: linear-gradient(to bottom, var(--Myred), #551719, #0d0d0d);
    padding: 10px 10px 50px 10px;
}

.box__login__menu {
    width: 100%;
}

.login__menu__top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.login__menu__top>i {
    color: var(--Mywhite);
    font-size: 1.2rem;
    cursor: pointer;
}

.login__menu__bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    padding: 0px 15px;
}

.login__menu__bottom .active {
    border-bottom: 2px solid var(--Myred2);
}

.login__menu__bottom>span {
    cursor: pointer;
    transition: all ease 0.3s;
    border-bottom: 2px solid transparent;
    padding: 5px;
}

.login__menu__bottom>span:hover {
    border-bottom: 2px solid var(--Myred2);

}

.login__input, .Register__input, .Register__input__code {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login__input>input, .Register__input>input, .Register__input__code>input {
    width: 250px;

    margin: 5px 0;
}

.login__input>span {
    color: var(--Mydark3);
    font-size: 0.9rem;
    margin-top: 8px;
    cursor: pointer;
}

.Register__input {
    display: none;
}

.Register__input>p {
    width: 290px;
    text-align: center;
    font-size: 0.95rem;
    margin: 8px 0px;
}

.Register__input__code {
    display: none;
}

.Register__input__code>p {
    text-align: center;
    width: 290px;
}

/* * end login * */

/* ! ================================ ! */

/* ? start search box Mobile */
.search_box_Mobile {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--Mydark);
    z-index: 1029;
    display: none;
    transition: all ease-in-out 0.3s;
}

.search_box_Mobile>form {
    width: 100%;
    height: 100%;
    display: flex;
}

.search_box_Mobile_text, .search_box_Mobile_btn {
    height: 100%;
    background-color: var(--Mydark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_box_Mobile_text {
    width: calc(100% - 40px);
    padding-right: 7px;
}

.search_box_Mobile_btn {
    width: 40px;
}

/* ? end search box Mobile */


/* ? start footer */

.footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, var(--Myred), #0d0d0dd1);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.footer_logo>img {
    width: 220px;
    margin-bottom: 10px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.footer_menu>* {
    margin-bottom: 10px;
}

.footer_menu_mdia {
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: linear-gradient(to left, #3E0F0F, #1310106b);
}

.footer_menu_mdia>a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.footer_menu_mdia>a>i {
    transition: all ease-in-out 0.3s;
}

.footer_menu_list>ul {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer_menu_list>ul>li {
    margin: 5px;
}

.footer_menu_list>ul>li>a {
    transition: all ease 0.3s;
}

.footer_menu_list>ul>li>a:hover {
    color: var(--Myblack);
}

.footer_menu_info {
    font-size: 0.8rem;
    color: var(--Mydark3);
    width: 80%;
}

.footer_namd {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_namd>a>img {
    width: 105px;
}

/* ? end footer */