.slider_box_info,
.slider_show_hover {
  bottom: 0;
  position: absolute;
  height: 100%;
}
.Fill_information__info__chair:hover > .icon-trash-regular,
.boy_ticket_theater_box:last-child {
  margin-bottom: 0;
}
.slider {
  width: 100%;
  height: 600px;
  display: flex;
  overflow-x: scroll;
}
.singelhall_slider__img,
.slider > section {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider_box {
  width: 0;
  overflow: hidden;
  opacity: 0;
  height: 100%;
  position: relative;
  transition: 0.2s ease-in-out;
  animation: 0.8s ease-in-out both sweep;
}
.Halls_box_img,
.slider_box_img,
.uzer_info_img > img {
  width: 100%;
  height: 100%;
}
.slider_box_img > img,
.slider_box_img > source {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
.slider_box_img_filter {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  background: linear-gradient(
    to top,
    #0d0d0d,
    #0d0d0dd7,
    #0d0d0d87,
    #0d0d0d43,
    #0d0d0d19,
    transparent
  );
  filter: brightness(0);
  z-index: 1;
}
.slider_show_hover {
  top: 0;
  right: 0;
  transition: 1s ease-in-out;
  opacity: 0;
  z-index: 2;
  animation: 0.3s ease-in-out nsweep;
}
.slider_box_info_filter {
  width: 530px;
  height: 100%;
  right: 0;
  filter: blur(1px);
  transform: skewX(166deg);
  z-index: 3;
  background: linear-gradient(
    270deg,
    transparent,
    #000000b0,
    #000000b0,
    #000000f0,
    transparent
  );
}
.slider_box_info {
  top: 0;
  right: 0;
  clip-path: polygon(39% -1%, 15% 100%, 10001% 100%);
  width: 538px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #0d0d0de2, #0d0d0dbd);
  z-index: 4;
  justify-content: space-between;
  overflow: hidden;
  padding: 65px 40px 30px;
}
.slider_box_info__img {
  width: 125px !important;
  border-radius: 3px;
  display: none;
}
.slider:hover .slider_show_hover {
  animation: 0.5s ease-in-out both sweep;
}
.slider_box_info > img {
  width: 45%;
}
.slider_box_info_text {
  width: 65%;
}
.slider_box_info_text > p {
  font-size: 0.9rem;
}
.slider_box_info_text > p > span {
  font-family: IS_web_bold;
  white-space: nowrap;
}
.slider_box_info_like {
  display: flex;
  align-items: center;
  width: 73%;
}
.slider_box_btn_move,
.slider_box_point_move {
  position: absolute;
  width: fit-content;
  left: 0;
  display: flex;
}
.slider_box_info_like > span {
  display: flex;
  align-items: center;
  font-family: IS_web_bold;
  margin-left: 10px;
}
.slider_box_info_like > span > b {
  margin: 0 10px;
}
.slider_box_info_btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.slider_box_info_btn > a {
  margin: 2.5px;
}
.slider_box_btn_move {
  bottom: 30px;
  z-index: 4;
}
.slider_box_btn_move > i {
  width: 30px;
  height: 30px;
  background-color: var(--Mydark);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-right: 5px;
}
.Halls_box_img > img,
.box_news > a,
.film_box_content_img > img,
.film_box_hover,
.scroll_drag,
.slider_point {
  transition: 0.3s ease-in-out;
}
.slider_box_btn_move .icon-angle-right:hover {
  padding-left: 4px;
}
.slider_box_btn_move .icon-angle-left:hover {
  padding-right: 4px;
}
.slider_box_point_move {
  align-items: center;
  bottom: 10px;
}
.slider_point {
  width: 25px;
  height: 10px;
  background-color: var(--Mywhite);
  margin-right: 5px;
  border-radius: 50px;
  cursor: pointer;
}
.slider_point_active {
  background-color: var(--Myred) !important;
}
.slider_active {
  width: 100%;
  overflow: hidden;
  opacity: 1;
}
.box_news {
  width: 100%;
  height: 30px;
  background-color: var(--Mydark);
  display: flex;
  align-items: center;
}
.box_news > a {
  margin: 0 20px;
  font-size: 0.85rem;
}
.box_news > a:hover {
  color: var(--Myred);
  font-family: IS_web_bold;
}
.film {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.film_box {
  width: 195px;
  height: 308px;
  position: relative;
  margin: 10px 5px;
}
.film_box_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.film_box_content_img {
  width: 100%;
  height: 280px;
}
.film_box_content_img > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  filter: brightness(0.85);
}
.film_box_content_name {
  width: 100%;
  height: calc(100% - 280px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.film_box_content_name > span,
.film_box_hover_name {
  font-size: 0.9rem;
  font-family: IS_web_bold;
}
.film_box_hover {
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  background: linear-gradient(
    to top,
    #0d0d0d,
    #0d0d0dd7,
    #0d0d0d09,
    #0d0d0d5d,
    #0d0d0d5d
  );
  overflow: hidden;
  opacity: 0;
}
.film_box_hover_like {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 0.95rem;
}
.comment_Posted_box_in,
.comment_Posted_box_like,
.film_box_hover_like > span,
.film_chosen_info_te > p,
.sanse_boy_box > span > b {
  display: flex;
  align-items: center;
}
.film_box_hover_like > span > i {
  margin-right: 4px;
}
.film_box_hover_name {
  margin-bottom: 10px;
  font-size: 1rem;
}
.fo_co {
  font-size: 0.8rem;
  color: var(--Mydark3);
}
.film_box:hover .film_box_hover {
  top: 0;
  height: 100%;
  opacity: 1;
}
.film_box:hover .film_box_content_img > img {
  border-radius: 0;
}
.Security_image,
.TermsConditions__details,
.comment_Posted,
.film_advertise,
.film_chosen_box_text {
  width: 100%;
}
.film_advertise img {
  width: 100%;
  max-height: 460px;
  height: 100%;
}
.Halls_box {
  position: relative;
  min-width: 410px;
  max-width: 410px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 3px;
}
.Halls_box_vi {
  width: 100%;
  height: 220px;
  position: relative;
}
.Halls_box_img > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.Halls_box_name {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Halls_box_info,
.film_chosen_info {
  flex-direction: column;
  display: flex;
}
.Halls_box_name > span {
  font-family: IS_web_bold;
  font-size: 0.95rem;
}
.Halls_box_info {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #0d0d0d, #0d0d0da8, #0d0d0d31);
  padding: 10px 15px;
  justify-content: space-around;
  overflow: hidden;
  width: 0;
  transition: 0.4s ease-in-out;
  opacity: 0;
}
.Halls_box_info .btn_red,
.star_rating {
  width: fit-content;
}
.Halls_box:hover .Halls_box_info {
  width: 100%;
  opacity: 1;
}
.star_rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  cursor: pointer;
}
.like_star i:hover,
.like_star i:hover ~ i,
.star_1,
.star_2,
.star_3,
.star_4 {
  color: var(--Myyellow) !important;
}
.star {
  margin: 0 2px;
  color: var(--Mywhite);
  font-size: 1.4rem;
}
.Halls_box_info_map {
  font-size: 0.9rem;
  width: 85%;
  font-family: IS_web_bold;
}
.Halls_box_info_map > i {
  font-size: 1.1rem;
}
.Halls_btn_left,
.Halls_btn_right {
  height: 220px;
  width: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #212020;
  z-index: 5;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 48px;
}
.film_chosen,
.film_chosen_img,
.scroll_drag {
  width: 100%;
  position: relative;
}
.Halls_btn_left {
  left: 10px;
}
.Halls_btn_right {
  right: 10px;
}
.scroll_drag {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  user-select: none;
  cursor: -webkit-grab;
}
.sanse_cnama_box,
.sanse_date_box {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.film_chosen {
  height: 820px;
}
.film_chosen_img {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.film_chosen_img_box,
.film_chosen_img_box > * {
  width: 100% !important;
  height: 100% !important;
}
.film_chosen_filter,
.film_chosen_info {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, var(--Myblack), #0d0d0d9c);
}
.film_chosen_info {
  background: 0 0;
  padding-top: 55px;
  padding-bottom: 30px;
  justify-content: space-between;
  overflow: hidden;
}
.film_chosen_info_ti > img {
  height: auto;
  margin-bottom: 8px;
  max-width: 300px;
}
.film_chosen_info_ti {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}
.film_chosen_info_ti > div {
  display: flex;
  margin-bottom: 5px;
}
.film_chosen_info_ti > div > img {
  width: 195px;
  border-radius: 3px;
  height: 280px;
}
.film_chosen_info_te {
  margin-right: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0;
}
.film_chosen_info_te > p > span {
  display: flex;
  align-items: center;
  margin: 0 8px;
  white-space: nowrap;
}
.film_chosen_info_text {
  width: 80%;
}
.film_chosen_info_text > p {
  margin-top: 5px;
  font-size: 0.95rem;
}
.film_chosen_profile_actor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3px;
}
.film_chosen_profile_actor > p {
  display: flex;
  align-items: center;
  margin: 5px 0 0 15px;
}
.sanse_cnama_box_name,
.sanse_date {
  justify-content: center;
  display: flex;
}
.film_chosen_profile_actor > p > img {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin-left: 9px;
}
.sanse_date {
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.sanse_date_box {
  background-color: var(--Mydark);
  border-radius: 3px;
  padding: 8px;
  width: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
}
.sanse_date_box:hover,
.sanse_date_box_activ {
  background: linear-gradient(to top, var(--Myred), #0d0d0d);
}
.sanse_date_box > span {
  font-size: 0.8rem;
}
.sanse_date_box > h2 {
  color: var(--Myred);
  display: flex;
  align-items: center;
}
.sanse_cnama_box {
  width: 255px;
  height: 185px;
  position: relative;
  opacity: 0.7;
  margin: 8px 6px;
}
.sanse_cnama_box > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.sanse_cnama_box_name {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: #060606a4;
  align-items: center;
  transition: 0.3s ease-in-out;
  border-radius: 0 0 3px 3px;
  opacity: 0;
}
.sanse_cnama_box_name > p {
  color: var(--Mywhite);
  font-size: 0.9rem;
  font-family: IS_web_bold;
}
.sanse_cnama_box:hover,
.sanse_cnama_box:hover .sanse_cnama_box_name,
.sanse_cnama_box_activ,
.sanse_cnama_box_activ .sanse_cnama_box_name {
  opacity: 1;
}
.sanse_boy {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
}
.sanse_boy_activ {
  width: 100%;
  height: fit-content;
  opacity: 1;
}
.boy_ticket_theater,
.sanse_boy_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sanse_boy_box {
  height: 50px;
  width: 350px;
  background-color: var(--Mydark);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}
.sanse_boy_box > span {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  white-space: nowrap;
}
.sanse_boy_box > span > i {
  margin-left: 5px;
  font-size: 1.4rem;
}
.sanse_boy_box_btn {
  background-color: var(--Myred);
  height: 100%;
  transition: 0.3s ease-in-out;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 0 0 3px;
  border-right: 2px dashed var(--Mywhite);
  text-align: center;
}
.sanse_boy_box_btn:hover {
  background-color: var(--Myred2);
  color: var(--Myblack);
}
.film_celct_img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.film_celct_img_activ {
  width: 80%;
  display: flex;
  justify-content: center;
}
.film_celct_img_activ > img {
  width: 70%;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}
.film_celct_img_min {
  display: flex;
  overflow-x: scroll;
  width: 80%;
  margin-top: 10px;
  cursor: -webkit-grab;
}
.film_celct_img_min:active {
  cursor: -webkit-grabbing;
}
.film_celct_img_min > img {
  width: 200px;
  height: 142px;
  border-radius: 3px;
  margin: 10px 5px;
  cursor: pointer;
}
.comment {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.comment_img_uzer {
  width: 50px;
  height: 50px;
}
.comment_img_uzer > i {
  font-size: 3rem;
}
.comment_box {
  width: calc(100% - 70px);
  display: flex;
  justify-content: space-evenly;
}
.comment_box > textarea {
  min-width: calc(100% - 400px);
  max-width: calc(100% - 400px);
  max-height: 200px;
  min-height: 200px;
}
.comment_box_ts {
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.comment_box_ts > div,
.heart_like {
  justify-content: center;
  display: flex;
}
.comment_box_ts > div {
  width: 100%;
  background-color: var(--Mydark);
  border-radius: 3px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.comment_box > div > button {
  border: none;
  width: 100%;
}
.heart_like {
  font-size: 2.35rem;
  padding: 20px 0;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  cursor: pointer;
}
.heart_like > i {
  transition: 0.3s;
  margin: 0 5px;
}
.menu_mdia > a,
.menu_uzer_profil > a,
.menu_uzer_profil > a > span,
.profil_menu,
.singelhall_imgs__box {
  transition: 0.3s ease-in-out;
}
.comment_Posted_box_like .icon-thumbs-down-regular,
.heart_like i:hover,
.heart_like i:hover ~ i {
  color: var(--Myred2);
}
.comment_box_ts > div > span {
  width: 80%;
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--Myblack2);
  border-radius: 3px;
  padding: 10px 0;
}
.comment_Posted_titel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.comment_Posted_titel > span {
  position: absolute;
  z-index: 2;
  background-color: var(--Myblack);
  padding: 0 15px;
  font-size: 0.8rem;
}
.comment_Posted_titel > div {
  width: 100%;
  background-color: var(--Mydark);
  color: var(--Mydark);
  height: 4px;
}
.comment_Posted_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment_Posted_box {
  width: 90%;
  border-bottom: 3px solid var(--Mydark);
  padding: 20px;
}
.comment_Posted_box_in > i {
  font-size: 2.2rem !important;
}
.comment_Posted_box_in > span,
.comment_Posted_box_like > span {
  margin-right: 10px;
  font-size: 0.8rem;
  color: var(--Mydark3);
  font-family: IS_web_bold;
}
.comment_Posted_box_content {
  padding: 10px 40px;
}
.comment_Posted_box_content > p {
  font-size: 0.9rem;
  line-height: 1.7rem;
}
.comment_Posted_box_like > div,
.comment_Posted_box_like > span {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.comment_Posted_box_like > div > span {
  font-size: 1.3rem;
  margin: 10px;
  display: flex;
  align-items: center;
}
.comment_Posted_box_like .icon-thumbs-up-regular {
  color: var(--Mygreen1);
}
.comment_Posted_box_like > div > span > i {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.comment_Posted_box_like > div > span > b {
  font-size: 1.1rem;
  margin: 0 5px;
}
.theater_chosen {
  height: 650px;
  width: 100%;
  position: relative;
}
.boy_ticket_theater_se {
  width: 850px;
  display: flex;
  align-items: center;
  max-height: 600px;
  background-color: #1d1d1d;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 3px;
  padding: 20px;
  flex-direction: column;
}
.boy_ticket_theater_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--Mydark2);
  height: 45px;
  font-size: 0.95rem;
  align-items: center;
  padding: 0 10px 0 0;
  border-radius: 3px;
  margin-bottom: 5px;
}
.boy_ticket_theater_time {
  background-color: var(--Mydark3);
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 5px 0;
  width: 350px;
  justify-content: center;
}
.profil_menu,
.theater_Hall,
.uzer_info {
  background-color: var(--Mydark);
  border-radius: 3px;
}
.boy_ticket_theater_time > span {
  color: var(--Myyellow);
  padding: 0 0 0 8px;
  white-space: nowrap;
}
.theater_Hall_name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.theater_map {
  width: calc(100% - 520px);
  height: 290px;
  border-radius: 3px;
  margin-left: 8px;
}
.theater_map > img {
  width: 100%;
  border-radius: 3px;
  height: 100%;
}
.theater_Hall {
  width: 520px;
  height: 290px;
  margin-right: 8px;
}
.theater_Hall > img {
  width: 100%;
  height: 160px;
  border-radius: 3px 3px 0 0;
}
.theater_Hall > div {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 170px);
  justify-content: space-between;
}
.theater_Hall .Halls_box_info_map {
  font-family: IS_web;
  width: 100%;
}
.gallery_img_theater {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.gallery_theater_img {
  width: 100%;
  display: flex;
  position: relative;
  overflow: scroll;
  cursor: -webkit-grab;
  padding: 0 30px;
}
.gallery_theater_img > img {
  width: 200px;
  height: 142px;
  margin: 5px;
}
.gallery_btn_theater_left,
.gallery_btn_theater_right {
  background-color: var(--Mydark);
  height: 100%;
  display: flex;
  align-items: center;
  width: 30px;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
}
.clos_menu_profil,
.profil_menu,
.uzer_info_ent {
  width: 100%;
  display: flex;
}
.gallery_btn_theater_right {
  position: absolute;
  right: 0;
  z-index: 200;
}
.gallery_btn_theater_left {
  position: absolute;
  left: 0;
  z-index: 200;
}
.uzer_info_ent {
  margin-top: 60px;
}
.profil_menu {
  max-width: 280px;
  min-width: 280px !important;
  height: calc(100vh - 70px);
  margin-left: 5px;
  padding: 10px 15px;
  flex-direction: column;
  justify-content: space-between;
}
.profil_menu_min {
  min-width: 70px !important;
  max-width: 70px !important;
}
.clos_menu_profil {
  justify-content: flex-end;
  height: 27.5px;
}
.clos_menu_profil > i {
  cursor: pointer;
  width: 27.5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.uzer_info {
  width: 100% !important;
  height: fit-content;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
}
.menu_uzer_profil {
  width: 100%;
  margin-top: 10px;
}
.menu_uzer_profil > a {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 5px;
  border-right: 2px solid transparent;
  margin: 8px 0;
}
.menu_uzer_profil > a > i {
  font-size: 1.4rem;
  width: 30px;
  text-align: center;
}
.menu_uzer_profil_ex {
  border-top: 1px solid var(--Mydark3);
}
.menu_uzer_active,
.menu_uzer_profil > a:hover {
  border-radius: 3px;
  background-color: var(--Mydark3);
  border-right: 2px solid var(--Myred) !important;
}
.menu_uzer_profil > a > span {
  padding: 0 10px;
  white-space: nowrap;
}
.uzer_info_name {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.uzer_input {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 10px;
}
.input_add,
.uzer_info_img > a {
  background-color: var(--Mydark2);
  align-items: center;
  border-radius: 3px;
  display: flex;
}
.uzer_input > label {
  font-size: 0.9rem;
  margin-bottom: 4px;
}
.uzer_info_img {
  width: 100px;
  height: 100px;
  position: relative;
}
.TermsConditions__details__box[open],
.uzer_info_tarco {
  height: fit-content;
}
.uzer_info_img > a {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  justify-content: center;
}
.uzer_info_add_mony {
  width: 100%;
  margin-bottom: 30px;
  line-height: 2;
}
.uzaer_add_mony_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.uzaer_add_mony {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.uzaer_add_mony_w {
  width: 80%;
  margin-top: 10px;
  display: flex;
}
.Halls > div,
.uzaer_add_mony_w > a {
  margin: 5px;
}
.uzaer_add_mony .btn_yellow {
  justify-self: flex-end;
}
.input_add {
  margin: 0 10px;
}
.input_add > span {
  height: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.input_add > input {
  border-radius: 3px;
  border: none;
  padding: 4.5px;
  color: var(--Myyellow);
  text-align: center;
  font-size: 1rem;
}
.uzer_info_tarco {
  width: 100%;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
}
.uzer_info_tarco > p {
  width: 100%;
  text-align: center;
}
.uzer_info_tarco > div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.successful_tarco {
  background-color: var(--Mygreen1);
}
.unsuccessful_tarco {
  background-color: var(--Myred2);
}
.profil_titel {
  width: 100%;
  margin-bottom: 10px;
}
.profil_titel > h3 {
  width: 100%;
  border-bottom: 1px solid var(--Mydark2);
  font-size: 1.2rem;
  padding: 5px 0;
}
.pay_ticet_input {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.Security_image_box {
  margin: 10px;
  display: flex;
  align-items: center;
}
.Security_image_box > img {
  margin-left: 10px;
  width: 170px;
  border-radius: 3px;
}
.Security_image_box > i {
  cursor: pointer;
  padding: 8px;
  background-color: var(--Mydark);
  border-radius: 3px;
}
.btn_div {
  width: 100%;
  display: flex;
  padding: 10px;
}
.Content_Message {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--Myblack2);
  padding: 10px;
  border-radius: 3px;
}
.Fill_information__info__chair .icon-trash-regular:hover,
.View_message {
  background-color: var(--Myred);
}
.Content_Message_excerpt {
  font-size: 0.9rem;
  color: var(--Mydark3);
}
.Content_Message_box[open] .Content_Message_excerpt {
  display: none;
}
.View_message {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  margin-bottom: 10px;
}
.TermsConditions {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #6a0004, #060606, #0606064b);
}
.TermsConditions__text {
  width: 80%;
  border-radius: 3px;
  background-color: var(--Mydark);
  padding: 30px 20px;
  margin-top: 10px;
  line-height: 1.85rem;
}
.TermsConditions__text__box {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.TermsConditions__text__box > p {
  margin-top: 5px;
}
.TermsConditions__details summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Myblack2);
  padding: 5px 10px;
  border-radius: 3px;
}
.TermsConditions__details__box {
  margin: 10px 0;
}
.TermsConditions__details h1::after {
  content: none;
}
.TermsConditions__details__box > div {
  width: 95%;
  background-color: var(--Myblack2);
  margin: 0 auto;
  border-radius: 0 0 3px 3px;
  padding: 8px;
}
.TermsConditions__text__box > img {
  width: 350px;
  border-radius: 3px;
  margin: 20px auto;
}
.TermsConditions__text__map {
  width: 100%;
  margin-top: 20px;
  display: flex;
  height: 250px;
}
.TermsConditions__text__map__info {
  width: 400px;
  padding-left: 5px;
  border-left: 1px dashed var(--Mywhite);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.TermsConditions__text__map__info > p,
.TermsConditions__text__map__text > p {
  color: var(--Mydark3);
}
.TermsConditions__text__map__info > p > span,
.TermsConditions__text__map__text > p > span {
  color: var(--Mywhite);
  font-family: IS_web_bold;
}
.TermsConditions__text__map__map {
  width: calc(100% - 350px);
  padding-right: 5px;
  height: 100%;
}
.TermsConditions__text__map__map > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.TermsConditions__text__map__text {
  width: 100%;
  display: flex;
  margin: 15px 0;
  color: var(--Mydark3);
  justify-content: space-between;
  flex-wrap: wrap;
}
.TermsConditions__text__map__text > p {
  color: var(--Mydark3);
  margin: 5px 0;
}
.menu_mdia {
  display: flex;
  font-size: 1.8rem;
  margin: 10px 0;
}
.menu_mdia > a {
  margin: 0 5px;
}
.singelhall_slider__info__text .Halls_box_info_map i,
.titel_box_equipped__location > i {
  font-size: 1.2rem;
  margin-left: 5px;
}
.TermsConditions__text > hr {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  border: 1px solid var(--Mydark3);
}
.TermsConditions__text__send {
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.TermsConditions__text__send__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 200px;
}
.TermsConditions__text__send__textarea {
  width: calc(100% - 260px);
  height: 200px;
  margin-right: 10px;
}
.TermsConditions__text__send__textarea > textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}
.Halls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titel_box_equipped__location {
  border-radius: 3px;
  background-color: var(--Mydark2);
  height: 100%;
  width: fit-content;
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.singelhall_slider {
  width: 100%;
  height: 350px;
  position: relative;
}
.singelhall_slider__img > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.singelhall_slider__img__filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(to left, #060606fc, #060606a3, #0606063a);
}
.singelhall_slider__info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.singelhall_slider__info__titel {
  width: 100%;
  display: flex;
  align-items: center;
  height: fit-content;
}
.singelhall_slider__info__titel .h_titel {
  margin-left: 10px;
}
.singelhall_slider__info__titel > i {
  cursor: pointer;
  font-size: 1.25rem;
}
.singelhall_slider__info .star_rating {
  align-items: center;
}
.singelhall_slider__info__text .Halls_box_info_map {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.singelhall_info {
  width: 100%;
  display: flex;
  height: fit-content;
}
.singelhall_info__text {
  width: calc(100% - 410px);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.singelhall_info__text__Contact {
  display: flex;
  width: 100%;
}
.singelhall_slider__info__btn {
  width: fit-content;
  cursor: pointer;
  height: fit-content;
}
.singelhall_slider__info__icon {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}
.singelhall_slider__info__icon > i {
  margin: 0 5px;
}
.singelhall_info__map {
  min-width: 500px;
  max-width: 500px;
  height: 250px;
}
.singelhall_info__map > div,
.singelhall_info__map > div > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.singelhall_info__text__Contact > p {
  margin-left: 20px;
}
.singelhall_imgs {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  cursor: -webkit-grab;
  align-items: center;
}
.singelhall_imgs__box {
  min-width: 240px;
  max-width: 240px;
  height: 150px;
  margin: 0 5px 10px;
}
.singelhall_imgs__box:hover .singelhall_imgs {
  overflow: hidden;
  height: fit-content;
}
.singelhall_imgs__box > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.Path_guide {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.Path_guide__btn .icon-angle-right {
  margin-left: 4px;
  color: var(--Mydark);
}
.Path_guide__Way {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 700px;
  justify-content: center;
}
.Path_guide__Way__text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Path_guide__Way__text > p {
  width: calc(100% / 4);
  text-align: center;
  font-size: 0.9rem;
}
.Path_guide__Way__Location {
  width: 90%;
  padding: 0 30px 0 45px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Path_guide__Way__Location__Point {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--Mywhite);
  padding: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Path_guide__Way__Location__Point.active > span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--Myred);
}
.Path_guide__Way__Location__line {
  width: calc(100% / 3 - 25px);
  border: 2px dashed var(--Mydark);
}
.Path_guide__Way__Location__line.active {
  border: 2px dashed var(--Myred) !important;
}
.singelhall_slider__info__box {
  display: flex;
  width: 100%;
  height: fit-content;
}
.singelhall_slider__info__box > img {
  width: 180px;
  height: 255px;
  border-radius: 3px;
}
.singelhall_slider__info__box__text {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.singelhall_slider__info__box__text > p {
  display: flex;
  font-size: 1rem;
  align-items: center;
}
.Banking_portal i,
.singelhall_slider__info__box__text > p > i {
  font-size: 1.4rem;
  margin-left: 5px;
}
.Purchase_information {
  width: 100%;
  display: flex;
}
.Purchase_information__financial {
  width: 450px;
  border-radius: 3px;
  background-color: var(--Mydark);
  padding: 10px;
  height: fit-content;
}
.Purchase_information__financial__text {
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid var(--Mywhite);
}
.Purchase_information__financial__text > p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 0 10px;
}
.Purchase_information__financial__text > p > span {
  width: calc(100% / 3);
}
.Purchase_information__financial__text > p > span:nth-child(2),
.Purchase_information__financial__text > p > span:nth-child(3) {
  text-align: center;
}
.Purchase_information__financial__mony {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.Purchase_information__financial__mony p:nth-child(2) {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: IS_web_bold;
  color: var(--Mygreenvi);
}
.Purchase_information__applyingfor {
  width: calc(100% - 460px);
  border-radius: 3px;
  margin-right: 10px;
}
.Purchase_information__applyingfor__fild,
.Purchase_information__applyingfor__thechair {
  width: 100%;
  height: fit-content;
  padding: 10px;
  background-color: var(--Mydark);
  border-radius: 3px;
}
.Purchase_information__applyingfor__thechair__box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-evenly;
}
.Purchase_information__applyingfor__thechair__box__th {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  border-left: 1px dotted var(--Mywhite);
}
.Fill_information__info__chair,
.btn_add_chair {
  height: 90px;
  border-radius: 3px;
  margin: 5px 0 5px 10px;
  transition: 0.3s ease-in-out;
  display: flex;
}
.Purchase_information__applyingfor__thechair__box__th h1 {
  width: 100%;
  margin-bottom: 5px;
}
.Fill_information__info__chair {
  width: 150px;
  background-color: var(--Myblack2);
  align-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
.Fill_information__info__chair > p {
  color: var(--Myyellow);
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}
.Fill_information__info__chair .icon-trash-regular {
  width: 100%;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
  margin-bottom: -25px;
}
.btn_add_chair {
  width: 90px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--Myyellow);
  cursor: pointer;
}
.btn_add_chair > a {
  transition: 0.3s ease-in-out;
  font-size: 2rem;
}
.btn_add_chair:hover > a {
  color: var(--Myyellow);
}
.Banking_portal > div,
.Purchase_information__applyingfor__fild {
  display: flex;
  flex-wrap: wrap;
}
.Purchase_information__applyingfor__fild .btn_blue {
  margin: 10px;
}
.Banking_portal {
  width: 100%;
  margin-top: 10px;
  border-top: 1px dashed var(--Mydark2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Banking_portal .btn_red_open {
  width: fit-content;
  height: 40px;
}
.Banking_portal .btn_red_open:hover span {
  color: var(--Mywhite);
}
.news_category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}
.news_category__box {
  width: 450px;
  display: flex;
  height: 135px;
  background-color: var(--Mydark);
  border-radius: 3px;
  padding: 8px;
  margin: 5px;
  align-items: center;
  overflow: hidden;
}
.news_category__box__img {
  max-width: 110px;
  min-width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news_category__box__img > img {
  width: 100%;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}
.news_category__box:hover > .news_category__box__img > img {
  transform: scale(1.057);
}
.news_category__box__info {
  width: 100%;
  margin-right: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.singel_news__box,
.singel_news__catgory {
  background-color: var(--Myblack2);
  height: fit-content;
}
.news_category__box__info > span {
  font-size: 0.9rem;
  display: flex;
  width: 100%;
}
.news_category__box__info > span > p {
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.news_category__box__info > span > p > i {
  margin: 0 5px;
  font-size: 0.97rem;
}
.info_chair__Guide__chair > span > i,
.info_chair__Guide__th > section > span > i {
  font-size: 1.5rem;
  margin-left: 5px;
}
.news_category__box__titel {
  color: var(--Myred);
}
.news_category__box__text {
  font-size: 0.9rem;
}
.singel_news {
  width: 100%;
  display: flex;
  margin-top: 60px;
}
.singel_news__catgory {
  min-width: 350px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
}
.singel_news__catgory .news_category__box {
  width: 100%;
  margin: 8px 0;
}
.singel_news__catgory .news_category__box__img {
  width: 100px;
}
.singel_news__catgory .news_category__box__info {
  width: 100%;
}
.singel_news__box {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}
.info_chair__Guide,
.info_chair__film,
.info_chair__film__th {
  background-color: var(--Mydark);
  padding: 10px;
  border-radius: 3px;
  display: flex;
}
.singel_news__box__titel {
  width: 100%;
  margin-bottom: 10px;
}
.singel_news__box__titel > h1 {
  margin-bottom: 10px;
}
.singel_news__box__titel > div > span {
  border-left: 1px solid var(--Mydark3);
  padding: 0 12px;
}
.singel_news__box__titel > div > span:last-child {
  border-left: none;
}
.singel_news__box__img,
.singel_news__box__img > img {
  width: 100%;
  border-radius: 3px;
}
.singel_news__box__img {
  width: 100%;
}
.singel_news__box__p {
  width: 100%;
  margin-top: 5px;
}
.info_chair {
  display: flex;
}
.info_chair__film {
  width: 380px;
  margin-left: 10px;
}
.info_chair__film__th {
  width: 300px;
  margin-left: 10px;
}
.info_chair__film__th .info_chair__film__text {
  width: 100%;
  justify-content: space-around;
}
.info_chair__film__img {
  width: 115px;
  margin-left: 10px;
  height: 100%;
}
.info_chair__film__img > img {
  width: 100%;
  border-radius: 3px;
  max-height: 100%;
}
.info_chair__film__text {
  display: flex;
  width: calc(100% - 115px);
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}
.info_chair__film__text .btn_red_open {
  width: 100%;
}
.info_chair__Guide {
  width: calc(100% - 350px);
}
.info_chair__Guide__th {
  width: 100%;
  display: flex;
  justify-content: center;
}
.info_chair__Guide__th > section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.info_chair__Guide__th > section > span {
  display: flex;
  align-items: center;
}
.info_chair__Guide__chair {
  width: 70%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: space-around;
  border-left: 2px dotted var(--Mydark2);
}
.info_chair__Guide__chair > span {
  white-space: nowrap;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.info_chair__Guide__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 30%;
}
.info_chair__Guide__map__sn {
  width: 80%;
  background-color: var(--Myred2);
  height: 25px;
  border-radius: 0 0 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.info_chair__Guide__map__blok {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  margin: 2.5px 0;
}
.info_chair__Guide__map__blok > span {
  background-color: var(--Mywhite);
  margin: 0 2.5px;
  border-radius: 3px;
  height: 100%;
  color: var(--Mydark);
  width: 19.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.info_chair__Guide__map__blok > span:nth-child(2) {
  width: 59.5%;
}
.Layout_hall {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Layout_hall__Screens {
  width: 70%;
  height: 40px;
  background-color: var(--Mydark);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Layout_hall__chair {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.Layout_hall__chair__number {
  display: flex;
  flex-direction: column;
  width: 25px;
}
.Layout_hall__chair__hall {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}
.Layout_hall__chair__box {
  width: 100%;
  height: 2rem;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Layout_hall__chair__box .chair__box {
  cursor: pointer;
}
.chair__box {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 2.1rem;
  margin: 0 3px;
  color: var(--Mydark2);
  font-size: 2rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.chair__box > b {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 100;
  color: var(--Mywhite);
}
.Layout_hall__chair__box__chair > i {
  position: absolute;
  color: var(--Mydark2);
  z-index: -1;
  font-size: 2rem;
}
.Layout_hall__chair__number > span {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 25px;
}
.selected_chairs__se {
  background-color: var(--Mydark);
  display: flex;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  height: fit-content;
}
.selected_chairs__se .Purchase_information__applyingfor__thechair__box {
  flex-wrap: wrap;
  width: 68%;
  border-left: 1px dotted var(--Mywhite);
  padding: 0 10px;
  height: 100%;
}
.selected_chairs__se .Purchase_information__applyingfor__thechair__box h1 {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.selected_chairs__se__info {
  width: 25%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.selected_chairs__se__info > p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.selected_chairs__se__info > p > span > i {
  margin-right: 5px;
}
