@font-face {
    font-family: "IS_web";
    src: url(../font/IRANSans/IRANSansWeb.woff);
}

@font-face {
    font-family: "IS_web_bold";
    src: url(../font/IRANSans/IRANSansWeb_Bold.woff);
}

@font-face {
    font-family: "web_fa";
    src: url(../webfonts/icon-solid-900.woff2);
}

:root {
    --Myblack: #060606;
    --Myblack2: #131313;
    --Myyellow: #D4AD00;
    --Myred: #CF2229;
    --Mywhite: #E9E9E9;
    --Mydark: #212020;
    --Myyellow2: #ffff00;
    --Myred2: #C20000;
    --myblue: #3471FF;
    --Mygreenvi: #07C400;
    --Mygreen1: #058500;
    --Mygreen2: #035000;
    --Mydark2: #363636;
    --Mydark3: #828282;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "IS_web", sans-serif;
    color: var(--Mywhite);
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--Myblack);
    font-size: 1rem;
    line-height: 1.5;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--Myyellow);
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

input, select, textarea {
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: var(--Mydark2);
    padding: 4.5px;
}


textarea:focus, input:focus {
    transition: all ease-in 0.2s;
    border-bottom: 1px solid var(--Myred);
}

button {
    border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

summary {
    width: 100%;
    display: block;
    cursor: pointer;
}

.summary_h::after {
    content: "\e907";
    font-family: "icon";
    font-size: 0.9rem;
    margin: 0 5px;
}

details[open] .summary_h::after {
    content: "\e906";
    font-size: 0.9rem;
    font-family: "icon";
}

.Content_Message_box>summary::after {
    content: none !important;
}

summary::after {
    content: "\e941";
    color: var(--Myyellow);
    font-family: "icon";
    transition: all ease-in-out 0.3s;
}

details[open] summary::after {
    content: "\e94d";
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes nsweep {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

textarea {
    padding: 8px;
    font-size: 0.9rem;
    border: 1px hidden transparent;
}

textarea::-webkit-resizer {
    display: none;
}

select {
    cursor: pointer;
}

b, h1, h2, h3, h4, h5, h6 {
    font-family: "IS_web_bold";
}

img, a, .btn_ticket, .icon_logon, .Halls_btn_right, .Halls_btn_left, .slider_box_btn_move>i {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

main {
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.color_white {
    color: var(--Mywhite) !important;
}

.color_dark2 {
    color: var(--Mydark2) !important;
}

.color_yellow2 {
    color: var(--Myyellow2) !important;
}

.color_red2 {
    color: var(--Myred2) !important;
}

.color_blue {
    color: var(--myblue) !important;
}

.color_greenvi {
    color: var(--Mygreenvi) !important;
}

.color_green1 {
    color: var(--Mygreen1) !important;
}

.color_green2 {
    color: var(--Mygreen2) !important;
}

.btn_yellow, .btn_red, .btn_add, .btn_red_com, .btn_red_open, .btn_blue {
    border-radius: 3px;
    padding: 0px 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    font-family: "IS_web_bold";
    position: relative;
}

.btn_yellow::after, .btn_red::after, .btn_add::after, .btn_red_open::after {
    content: "";
    transition: all ease-in-out 0.3s;
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

.btn_yellow>span, .btn_red>span, .btn_add>i, .btn_red_open>span {
    transition: all ease-in-out 0.3s;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;

    justify-content: center;
    font-size: 1rem;
}

.btn_yellow:hover>span, .btn_red:hover>span, .btn_add:hover>i, .btn_red_open:hover>span {
    color: var(--Myblack);
    transition: all ease-in 0.3s;
}

.btn_yellow:hover::after, .btn_red:hover::after, .btn_add:hover::after, .btn_red_open:hover::after {
    width: 100%;
    height: 100%;
}

.btn_yellow {
    background-color: var(--Myyellow);
    border: 2px solid var(--Myyellow);
}

.btn_yellow>span {
    color: var(--Mydark);
}

.btn_yellow::after {
    background-color: yellow;
}

.btn_red {
    border: 2px solid var(--Myred);
}

.btn_red>span {
    color: var(--Myred);
}

.btn_red::after {
    background-color: var(--Myred);
}

.btn_add {
    border: 2px solid var(--Mywhite);
    width: 40px;
    overflow: hidden;
    padding: 0;
}

.btn_add>i {
    padding: 2px 1px 0 0;
    font-size: 1.8rem;

}

.btn_add::after {
    background-color: var(--Mywhite);
    height: 0;
}

.btn_red:hover {
    background-color: var(--Myred);
    transition: all ease-in 0.3s;
}

.btn_add:hover {
    background-color: var(--Mywhite);
    transition: all ease-in 0.3s;
}

.btn_red_open {
    background-color: var(--Myred);
    border: 2px solid var(--Myred);
    width: 250px;
    height: 35px;
    cursor: pointer;
}

.btn_red_open:hover {
    transition: all ease-in 0.3s;
    border: 2px solid var(--Myred2);
}

.btn_red_open::after {
    background-color: var(--Myred2);
}

.btn_red_open>span {
    color: var(--Mydark);

}

.btn_blue {
    color: var(--myblue);
    background-color: #303030;
    border: 1px solid transparent;
    width: fit-content;
    transition: all ease-in-out 0.3s;
}

.btn_blue:hover {
    border: 1px solid var(--myblue);
}

.btn_blue img {
    width: 25px;
    margin-left: 8px;
}

.btn_blue.active {
    border: 1px solid var(--myblue) !important;
}

.m_b, .titel_box, .titel_box_equipped {
    margin-bottom: 15px !important;
}

.titel_box, .titel_box_equipped {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titel_box_equipped {
    background-color: var(--Mydark);
    height: 35px;
    border-radius: 3px;
    margin-top: 70px;
}

.m_t {
    margin-top: 15px !important;
}

.ma_t {
    margin-top: 40px;
}

.h_titel {
    font-size: 1.4rem !important;
}

.icon-heart-solid {
    color: var(--Myred);
}

/* .scroll_drag {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    transition: all ease-in-out 0.3s;
    user-select: none;
    cursor: -webkit-grab;
} */

.scroll_drag::-webkit-scrollbar, .gallery_theater_img::-webkit-scrollbar {
    visibility: hidden;
    width: 0px !important;
    height: 0px !important;
}

.scroll_drag::-webkit-scrollbar-thumb, .gallery_theater_img::-webkit-scrollbar-thumb {
    visibility: hidden;
    width: 0px !important;
    height: 0px !important;
    border-radius: 3px;
}

.icon-twitter-square:hover {
    color: #07AAE0;
}

.icon-telegram:hover {
    color: #107CB9;
}

.icon-facebook:hover {
    color: #1E6BBF;
}

.icon-youtube:hover {
    color: #ff0000;
}

.icon-instagram:hover {
    color: #d62d77;
}

.icon-times {
    color: var(--Myred);
}

.icon-thumbs-down {
    color: var(--Myred2);
}

.icon-thumbs-up {
    color: var(--Mygreen1);
}

.btn_red_com {
    background-color: var(--Myred);
    margin-top: 20px;
    padding: 0 20px;
}

.btn_ticket {
    color: var(--Myyellow);
    background-color: #d4ad001f;
    border-radius: 3px;
    border: none !important;
    font-size: 0.9rem;
    padding: 0 10px;
}

.btn_ticket:hover {
    color: var(--Myblack) !important;
    background-color: var(--Myyellow) !important;
    border: none !important;
}

.btn_boy_red, .btn_Soon, .btn_end {
    color: var(--Mydark);
    border-radius: 3px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    transition: all ease-in-out 0.3s;
}

.btn_Soon {
    background-color: var(--Myyellow);
}

.btn_boy_red {
    background-color: var(--Myred);
}

.btn_boy_red:hover {
    color: var(--Myblack);
    background-color: var(--Myred2);
}

.btn_end {
    background-color: var(--Mydark3);
}

.center {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
}

.f_wrap {
    flex-wrap: wrap;
}

.d_none {
    display: none !important;
}

.d_flex {
    display: flex !important;
}

.summary_h {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.p_relative {
    position: relative;
}

.btn_show_all {
    color: var(--Myred);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.btn_show_all:before {
    transition: all ease-in-out 0.15s;
    content: "\e904";
    font-family: "icon";
    color: transparent;
}

.btn_show_all:hover:before {
    padding: 0 4px;
    content: "\e904";
    color: var(--Mydark3);
}

.btn_show_all:hover {
    color: var(--Mydark3);
}

.titel_page {
    font-size: 1.2rem;
}

.hei_40 {
    height: 35px;
}

.select_content>section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_content {
    display: none;
}

.select_content>section>span {
    margin: 8px 20px;
    padding: 10px 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.select_content__active {
    background-color: var(--Myred);
}