@media (max-width: 1399px) {
  .nav_item_a_search {
    height: 35px;
  }
  .menu_header_nav_btn {
    display: flex;
  }
  .menu_header_nav_item {
    justify-content: start;
    width: fit-content;
  }
  .nav_item_a_list {
    position: absolute;
    top: 0;
    background-color: var(--Myblack);
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 40px;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border-bottom: 2px hidden var(--Myred);
  }
  .menu_header__nav__activ {
    background-color: var(--Myblack) !important;
  }
  .nav_item_a_list__activ {
    height: auto !important;
    border-bottom: 2px solid var(--Myred) !important;
    transition: 0.3s ease-in-out;
    top: 45px;
    opacity: 1;
  }
  .nav_item_a_list > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
  }
  .nav_item_a_list > ul > li {
    width: 100%;
    margin: 2px 0;
  }
  .nav_item_a_list > ul > li > a {
    width: 100%;
  }
  .input_box_search_btn {
    font-size: 1rem;
  }
  .line {
    display: none !important;
  }
  .slider {
    height: 530px;
  }
  .slider_box_info {
    width: 550px;
  }
  .slider_box_info_filter {
    width: 542px;
  }
  .Purchase_information__financial {
    width: 350px;
  }
  .Purchase_information__applyingfor {
    width: calc(100% - 360px);
  }
  .film_chosen_info_text {
    width: 90%;
  }
}
@media (max-width: 1199px) {
  .singelhall_info__text,
  .theater_map {
    margin-left: 0;
    width: 100%;
  }
  .TermsConditions__text {
    width: 90%;
  }
  .theater_Hall_name {
    flex-direction: column;
    align-items: center;
  }
  .theater_map {
    margin-bottom: 10px;
    height: 250px;
  }
  .theater_Hall {
    margin-right: 0;
  }
  .film_chosen_info_text {
    width: 100%;
  }
  .singelhall_info {
    flex-wrap: wrap;
  }
  .singelhall_info__map,
  .singelhall_info__text__Contact {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .Purchase_information {
    flex-direction: column-reverse;
  }
  .Purchase_information__applyingfor {
    width: 100%;
    margin: 10px 0;
  }
  .Purchase_information__financial {
    width: 100%;
  }
  .Banking_portal {
    background-color: var(--Mydark);
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
  }
  .Banking_portal > div > a {
    margin: 0 0 5px 5px;
  }
  .TermsConditions__text__map {
    height: fit-content;
    flex-direction: column;
  }
  .TermsConditions__text__map__info {
    width: 100%;
    border: none;
    padding-left: 0;
    height: fit-content;
  }
  .TermsConditions__text__map__text > p {
    display: flex;
    flex-wrap: wrap;
  }
  .TermsConditions__text__map__text > p > span,
  .film_celct_img_activ,
  .film_celct_img_min {
    width: 100%;
  }
  .TermsConditions__text__map__map {
    width: 100%;
    padding: 0;
    height: 225px;
    margin-top: 8px;
  }
  .singel_news__catgory {
    margin: 10px 0;
    display: flex;
    overflow-y: scroll;
    min-width: 100%;
  }
  .singel_news__catgory .news_category__box {
    min-width: 350px;
    margin: 0 5px;
  }
  .singel_news {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .film_chosen_info_ti > div > img {
    width: 180px;
    border-radius: 3px;
    height: 265px;
  }
  .boy_ticket_theater_time {
    width: 100%;
    padding: 10px;
  }
  .boy_ticket_theater_box {
    justify-content: space-between;
    height: 160px;
    flex-direction: column;
    padding: 8px;
  }
  .boy_ticket_theater_mony {
    margin: 15px 0;
  }
  .comment_img_uzer {
    display: none;
  }
  .comment_box {
    width: 100%;
    flex-direction: column;
  }
  .comment_box_ts {
    width: 100%;
    margin-top: 10px;
  }
  .comment_box > textarea {
    min-width: 100%;
    max-width: 100%;
  }
  .comment_box_ts > div {
    width: 60%;
    background-color: transparent;
  }
  .comment_box > div > button {
    width: 48%;
  }
}
@media (max-width: 920px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer_logo > img {
    width: 150px;
  }
  .container,
  .slider_box_info {
    padding-left: 30px;
    padding-right: 30px;
  }
  .uzer_info_ent {
    flex-direction: column-reverse;
  }
  .profil_menu {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    height: fit-content;
    margin-top: 10px;
    background-color: transparent;
    padding: 10px 0;
  }
  .clos_menu_profil {
    display: none;
  }
  .menu_uzer_profil {
    margin-top: 0;
  }
  .menu_uzer_profil > a {
    background-color: var(--Mydark);
    padding: 8px 4px;
  }
  .menu_uzer_profil_ex {
    border: none;
  }
  .menu_uzer_profil_ex > a {
    margin: 0;
  }
  .uzer_info {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .container,
  .slider_box_info {
    padding-left: 30px;
    padding-right: 30px;
  }
  .search_input_box {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--Mydark);
    border-radius: 3px;
  }
  #icon-search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search_input_box_ac {
    display: flex;
    animation: 0.5s ease-in-out both sweep;
    top: 42px;
  }
  .TermsConditions__text__send {
    flex-direction: column;
  }
  .TermsConditions__text__send__input {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-bottom: 5px;
  }
  .TermsConditions__text__send__input > * {
    margin: 0 0 8px 8px;
    height: fit-content;
  }
  .TermsConditions__text__send__textarea {
    width: 100%;
    margin: 0;
  }
  .comment_Posted_box {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .TermsConditions__text,
  .film_celct_img_activ > img {
    width: 100%;
  }
  .Banking_portal {
    flex-direction: column;
    align-items: flex-start;
  }
  .Banking_portal > div {
    margin-bottom: 10px;
  }
  .Fill_information__info__chair {
    width: 130px;
  }
  .singelhall_slider {
    height: 300px;
  }
  .Path_guide {
    display: none;
  }
  .singelhall_slider__info__box > img {
    width: 135px;
    height: 200px;
  }
  .singelhall_info__map {
    min-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .container,
  .slider_box_info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Halls_btn_left,
  .Halls_btn_right,
  .footer,
  .titel_box_equipped__location {
    display: none;
  }
  main {
    margin-bottom: 100px !important;
  }
  .menu_header {
    top: auto;
    bottom: 0;
    background: 0 0;
    background-color: #212020c9;
    backdrop-filter: blur(12px);
    border-radius: 30px 30px 0 0;
    height: 90px;
    overflow: hidden;
    border-top: 1px solid var(--Myred) !important;
  }
  .nav_item_a_list,
  .nav_item_a_list > ul {
    background-color: transparent !important;
  }
  .menu_header_open {
    height: fit-content !important;
    padding-bottom: 15px;
  }
  .menu_header_scroll {
    border: none;
  }
  .menu_header_nav_item,
  .nav_item_a,
  .news_category .news_category__box,
  .theater_Hall,
  .uzaer_add_mony_box {
    width: 100%;
  }
  .nav_item_a_list {
    position: relative;
    padding: 0;
    height: fit-content;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
  .nav_item_a_list_line,
  .search_icon {
    display: flex !important;
  }
  .nav_item_a_list > ul {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  .icon_logon,
  .nav_item_a_list > ul > li {
    width: 85px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px auto;
  }
  .nav_item_a_list > ul > li > a,
  .search_icon > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
  }
  .nav_item_a_list > ul > li > a > i,
  .search_icon > span > i {
    font-size: 1.5rem;
    margin: 0;
  }
  .icon_logon {
    flex-direction: column;
    border-bottom: none;
  }
  .icon_logon > i {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .icon_logon > span {
    font-size: 0.75rem;
    white-space: nowrap;
    margin: 0;
  }
  .icon_logon:hover,
  .search_icon:hover {
    background-color: #ff00002e;
    border-radius: 3px;
    border-bottom: none;
  }
  .gallery_btn_theater_left,
  .gallery_btn_theater_right,
  .info_director,
  .menu_header_nav_btn,
  .nav_item_a_logo,
  .nav_item_a_search,
  .nav_item_b,
  .p_Summary,
  .slider_box_info_filter {
    display: none !important;
  }
  .slider_show_hover {
    opacity: 1;
    width: 100%;
  }
  .slider_box_info {
    clip-path: none;
    width: 100%;
    align-items: center;
    padding: 30px 20px 35px;
  }
  .slider_box_btn_move {
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    top: 45%;
    height: fit-content;
  }
  .select_content,
  .slider_box_info__img {
    display: block;
  }
  .slider_box_info > *,
  .slider_box_info_text > * {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slider_box_info_text {
    flex-wrap: wrap;
  }
  .slider_box_btn_move > i {
    background-color: transparent;
  }
  .slider:hover .slider_show_hover,
  .slider_show_hover {
    animation: none;
  }
  .slider_box_point_move {
    width: 100%;
    justify-content: center;
    bottom: 8px;
  }
  .slider_box_info > img {
    width: 35%;
  }
  .film_box {
    width: 150px;
    height: 245px;
    margin: 10px 2.5px;
  }
  .film_box_content_img {
    height: 220px;
  }
  .film_box_content_name {
    height: calc(100% - 220px);
  }
  .film_box_content_name > span {
    font-size: 0.8rem;
  }
  .Halls_box {
    min-width: 370px;
    max-width: 370px;
    margin-bottom: 10px;
    height: 210px;
  }
  .Halls_box:first-child {
    margin-right: 0;
  }
  .Halls_box:last-child {
    margin-left: 0;
  }
  .Halls_box_info > * {
    width: 98%;
  }
  .Halls_box_info_map {
    font-size: 0.85rem;
  }
  .Halls_box_info {
    background: 0 0;
    background-color: #0d0d0dba;
    width: 100%;
    opacity: 1;
  }
  .gallery_theater_img::-webkit-scrollbar,
  .scroll_drag::-webkit-scrollbar {
    visibility: visible;
    width: 4px !important;
    height: 4px !important;
  }
  .gallery_theater_img::-webkit-scrollbar-thumb,
  .scroll_drag::-webkit-scrollbar-thumb {
    visibility: visible;
    width: 4px !important;
    height: 4px !important;
    border-radius: 3px;
    background-color: var(--Myyellow2);
  }
  .TermsConditions__text__box > img {
    width: 85%;
  }
  .singelhall_slider {
    height: 250px;
  }
  .singelhall_slider__info {
    padding-top: 10px;
  }
  .TermsConditions__text {
    padding: 20px 15px;
  }
  .titel_box_equipped {
    flex-direction: row-reverse;
    padding-right: 10px;
  }
  .titel_box_equipped h1 {
    font-size: 1rem;
  }
  .film_chosen_info {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .film_chosen_info_ti {
    height: 100%;
    justify-content: space-between;
  }
  .film_chosen_info_ti > div {
    flex-direction: column;
  }
  .film_chosen_info_ti > img {
    margin: 0 auto 8px;
    max-width: 250px;
  }
  .film_chosen_info_ti > div > img {
    margin: 0 auto;
  }
  .film_chosen_info_te {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .film_chosen_info_te > h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }
  .film_chosen_info_te > p {
    margin: 5px;
  }
  .slider_box_info_btn {
    flex-direction: row !important;
    justify-content: center;
  }
  .gallery_theater_img {
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
  }
  .boy_ticket_theater_box > a {
    width: 100%;
    height: fit-content;
    padding: 6px 0;
  }
  .comment_Posted_box_content {
    padding: 10px 20px;
  }
  .gallery_theater_img > img {
    margin-bottom: 15px;
    width: 165px;
  }
  .film_chosen,
  .theater_chosen {
    height: 600px;
  }
  .film_celct_img_min > img {
    width: 170px;
    height: 110px;
  }
  .uzaer_add_mony_w {
    width: 100%;
    flex-wrap: wrap;
  }
  .btn_div,
  .pay_ticet_input {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .container,
  .slider_box_info,
  .uzer_info {
    padding-left: 10px;
    padding-right: 10px;
  }
  .Purchase_information__applyingfor__fild {
    justify-content: space-evenly;
  }
  .Security_image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .singelhall_slider__info__box > img {
    width: 115px;
    height: 170px;
  }
  .singelhall_slider {
    height: 230px;
  }
  .TermsConditions__details__box > div,
  .singelhall_slider__info__box__text > p {
    font-size: 0.9rem;
  }
  .titel_page {
    font-size: 1.1rem;
  }
  .news_category .news_category__box {
    width: 100%;
    flex-direction: column;
    height: 235px;
  }
  .news_category .news_category__box__img {
    max-width: 130px;
    min-width: 130px;
    height: 115px;
  }
  .comment_box_ts > div {
    width: 100%;
  }
  .comment_box > div > button {
    width: 80%;
  }
  .sanse_cnama_box {
    width: 250px;
    height: 180px;
    margin: 8px 5px;
  }
  .sanse_date_box {
    margin: 8px 4px;
  }
  .sanse_boy_box {
    width: 100%;
    margin: 8px 0;
  }
}
@media (max-width: 425px) {
  .Halls_box {
    min-width: 98%;
    max-width: 98%;
    margin-bottom: 10px;
    height: 210px;
  }
  .Banking_portal .btn_red_open,
  .TermsConditions__text__box > img,
  .box__login__center,
  .sanse_cnama_box {
    width: 100%;
  }
  .singelhall_slider__info__box > img {
    width: 100px;
    height: 150px;
  }
  .singelhall_slider {
    height: 230px;
  }
  .singelhall_slider__info__box__text > p {
    font-size: 0.8rem;
  }
  .Purchase_information__financial__text > p > span,
  .singelhall_slider__info__box__text {
    font-size: 0.9rem;
  }
  .TermsConditions__text__send__input > * {
    width: 100%;
    margin: 4px 0;
  }
  .singel_news__catgory {
    display: none;
  }
  .select_content > section > span {
    margin: 8px 10px;
  }
  .sanse_boy_box {
    flex-wrap: wrap;
    height: 120px;
  }
  .sanse_boy_box > span {
    width: calc(50% - 20px);
    height: 40px;
    justify-content: center;
  }
  .sanse_boy_box_btn {
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
  }
  .uzer_info_tarco > div {
    flex-direction: column;
    text-align: center;
  }
  .uzer_info_tarco > div > * {
    padding: 3px 0;
  }
}
